body {
	background-image: url(img/background.jpg);
	background-color: #000000;
	background-size: cover;
	background-repeat:no-repeat;
	/*overflow: hidden;*/
	font: 1.5em Gerorgia, arial, verdana, sans-serif;
	margin:5px;
}
hr {
    border: 0;
    height: 1px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,255), rgba(255,255,255,0.75), rgba(255,255,255,255));
}
h1{
	margin: 0;
	font: Georgia;
	color: #FFFFFF;
}
h2, h3, p {
	margin: 0;
	font: Georgia;
	color: #A0A0A0;
}
img {
	margin-left: auto;
	margin-right: auto;
}

span.tapcircle {
  background-color: rgba(153,153,153,.3);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
}
