.HeaderContainer {
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.HeaderLeft {
	height: 100px;
	font: .85em Georgia;
	/* color: white; */
	font-weight: bold;
	text-align: left;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

.HeaderCenter {
	height: 50px;
	text-align: center;
	font-size: 1em;
	font: 1em Georgia;
	/* color: white; */
	padding-top:25px;
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}

.HeaderRight {
	font: .85em Georgia;
	/* color: white; */
	font-weight: bold;
	text-align: right;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
}
