.table{
	width: 100%;
	border-collapse: collapse;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row.header .column,
.row .column {
	border-left: 1px white dashed;
	padding: 1px 5px;
	text-align: center;
	vertical-align: top;
	color: white;
}

.row.header .column:first-child,
.row .column:first-child {
	border-left: none;
}

.row.header {
	background-color: rgba(153,153,153,.3);
	padding: 0px;
	margin: auto;
}

.row.header .column {
	min-height:35px;
	font: .65em Georgia;
	color: white;
	font-weight: bold;
	vertical-align: top;
}

.column.tap-num {
	flex: 50;
	vertical-align: middle;
}

.column.srm {
	flex: 125;
}

.column.ibu {
	flex: 125;
}

.column.abv {
	flex: 125;
	text-align: center;
	vertical-align: middle;
}

.column.keg {
	flex: 150;
}

.column.name {
	flex: 400;
	text-align: left;
	padding: 5px;
}

.row h3{
	font: .8em Georgia;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	text-align:center;
}

.row h2{
	font: 1em Georgia;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	text-align:center;
}

.row h1{
	color: white;
	opacity:1;
	display:block;
	font: 1.5em Georgia;
	font-weight: bold;
}

.row .subhead{
	width:100%;
	font: .9em Georgia;
	text-align:left;
}

.row p{
	font: .8em Georgia;
	color: #A0A0A0;
	margin-top:20px;
}

.altrow{
	background-color: rgba(153,153,153,.23);
}
